{% extends "base.jinja" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/styles/tournament_add.css">
{% endblock style %}

{% block content %}

<form action="{{ url_for('tournament_add_post') }}" method='post'>
    <label>
        Название:
        <input name="name" type="text">
    </label>
    <label>
        Город:
        <select name="city">
            {% for i, city in cities.iterrows() %}
            <option value="{{ city['city_id']}}">{{city['city_name']}}</option>
            {% endfor %}
        </select>
    </label>
    <label>
        Дата начала:
        <input name="start_date" type="date">
        Дата окончания:
        <input name="end_date" type="date">
    </label>
    <input value="Добавить" type="submit">

</form>

{% endblock content %}