{% extends "base.jinja" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/styles/tournament_page.css">
{% endblock style %}

{% block content %}

<h1>{{name}}</h1>
<p>Город проведения: {{city}}</p>
<p>Дата начала: {{start_date}}</p>
<p>Дата окончания: {{end_date}}</p>

<table>
    <tr>
        <th>
            N
        </th>
        <th>
            ФИО
        </th>
        <th>
            1
        </th>
        <th>
            2
        </th>
        <th>
            3
        </th>
        <th>
            Итог
        </th>
    </tr>
    <tr>
        <td>1</td>
        <td>Заяц Алексей Евгеньевич</td>
        <td>2+</td>
        <td>3-</td>
        <td>+</td>
        <td>10+</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Стрелов Глеб Сергеевич</td>
        <td>1-</td>
        <td>+</td>
        <td>3-</td>
        <td>10+</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ярош Егор Геннадьевич</td>
        <td>+</td>
        <td>1+</td>
        <td>2+</td>
        <td>23+</td>
    </tr>
</table>
{% endblock content %}